.red-square{
  background-color: red;
  width: 100px;
  height: 100px;
  margin-top: 30px;
}
.green-round{
  background-color: green;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 90px;
  
}