.photo{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  border-width: 20px;
  vertical-align: middle;
  margin-right: 6px;
  
}
.para{
  padding-left:10px ;
  font-size: 18px;
  vertical-align: middle;
  border: none;
  width: 200px;
  margin-right: 90px;
}
.tab{
  
  background-color: rgb(79, 139, 250);
  color: white;
  
  border: none;
  border-radius: 30px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 100px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  font-size: 16px;
}

.style{
     
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
padding-top: 12px;
padding-bottom: 12px;
padding-left: 12px;
padding-right: 12px;
width: 550px;
border-radius: 6px;

}